/** @format */
@import './style';

.wp-block-jetpack-chart {
	padding-top: 2rem;
	.chart-title {
		font-size: 1.2em;
	}
	.c3 svg,
	.top-legend {
		font-size: 0.8em;
	}
	.jetpack-chart-wrapper.jetpack-cover-text-color {
		color: rgb( 88, 88, 88 );
	}
	.c3-chart-arc text {
		fill: #fff;
		font-size: 11px;
	}
}
